body {
    padding-top: 13vh;
    line-height: 1.6;
    color: #333;
    background-color: #f6f1eb;
    min-width: device-width;
    align-items: center;
}

.confirm-form {
    max-width: 500px;
    width: 60vw;
    margin: 0 auto;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff84;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: 30px;
}

input:focus {
    outline-color: var(--mint-color);
}

#confirm {
    border: solid 1px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    width: 30vw;
    max-width: 300px;
    font-size: medium;
    background-color: #f6f1eb;
    margin-top: 30px;
}

#confirm:hover {
    background-color: #c6eee0;
    transition: 0.5s;
    border: solid 1px #c6eee0;
}

div {
    align-items: center;
}