body {
    line-height: 1.6;
    color: #333;
    background-color: #f6f1eb;
    min-width: device-width;
}

header {
    background-color: #ffffff84;
    padding: 15px;
    position: fixed;
    width: 100%;
    padding-left: 22%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li:hover {
    background-color: var(--mint-color);
    color: #333;
    transition: 0.5s;
}

.sidebar ul li a:hover {
    color: #333;
    transition: 0.5s;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.user-info {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info span h3 a {
    opacity: 0.75;
}

#container-for-content {
    padding-top: 90px;
    margin: 0 auto;
    padding-left: 20%;
}

.statistics-card, .question-card, .answer-card, .form-to-send-question,
.form-to-settings, .form-to-send-answer, .user-card {
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff84;
    margin: 15px;
}

input, .question_title, .question_description, .question_category,
.answer_description, #description, .user_username {
    width: calc(100% - 10px);
    box-sizing: border-box;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: #333;
}

.question_title:hover {
    transition: 0.5s;
    color: #3333339e;
}

#title, .question_title {
    max-width: 500px;
}

#description, .question_description, .answer_description {
    height: 20vh;
    width: 100%;
    resize: none;
}

label {
    font-weight: bolder;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: var(--mint-color);
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    width: 20vw;
    max-width: 200px;
    font-size: medium;
    color: var(--dark-text-color);
}

.button:hover {
    background-color: var(--dark-text-color);
    transition: 0.5s;
    color: #fff;
}

.fav-button {
    margin-left: auto;
}

#author, .question_author, .answer_author {
    display: flex;
    justify-content: flex-end;
    opacity: 0.75;
    padding-left: 15px;
}

#author, #description, .question_author, .question_description,
.answer_author, .answer_description {
    font-weight: bolder;
    word-break: keep-all;
}

footer {
    justify-content: center;
    display: flex;
    background-color: #ffffff84;
    padding: 10px;
    margin-bottom: 0;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20%;
    font-weight: bold;
}

.favourite-form {
    display: flex;
}

section {
    margin: 30px;
}