body {
    padding-top: 13vh;
    line-height: 1.6;
    color: #333;
    background-color: #f6f1eb;
    min-width: device-width;
    align-items: center;
}

.register-form {
    max-width: 500px;
    width: 60vw;
    margin: 0 auto;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--opacity-light-color);
}

h2 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 30px;
}

#register {
    border: solid 1px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    width: 30vw;
    max-width: 300px;
    font-size: medium;
    background-color: var(--light-background-color);
    margin-top: 10px;
}

#register:hover {
    background-color: var(--mint-color);
    transition: 0.5s;
    border: solid 1px var(--mint-color);
}

#container-for-buttons {
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
}

#rule-for-password {
    word-break: keep-all;
    display: none;
    color:#3333339e;
}

footer {
    display: none;
}