body {
    padding-top: 13vh;
    line-height: 1.6;
    color: #333;
    background-color: var(--light-background-color);
    min-width: device-width;
    align-items: center;
}

.auth-form {
    max-width: 500px;
    width: 60vw;
    margin: 0 auto;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff84;
}

#container-for-buttons {
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
}

.button {
    border: solid 1px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    width: 20vw;
    max-width: 200px;
    font-size: small;
    background-color: #f6f1eb;
}

#sign-in:hover {
    border: solid 1px var(--mint-color);
    background-color: var(--mint-color);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: var(--dark-text-color);
    background-color: var(--light-background-color);
    justify-content: center;
    display: flex;
}

a:hover {
    background-color: #333;
    transition: 0.5s;
    color: var(--light-text-color);
}

h2, h4 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 30px;
}

footer {
    display: none;
}